
<div class="coursetree">
  <div class="col-md-12">
    <div class="row name text-center">
      <h3> 燎原学院课程思想结构</h3>
      <!-- <div class="row box"> -->
      <body>
       <iframe height="500px" width="100%" src="courses.html" name="iframe_a"></iframe>
      </body>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="content-section-a">
      <div class="container">
        <div class="row name text-center">
          <h2>课程</h2>
          <% @products.each do |product| %>
            <div class="col-xs-6 col-md-4">
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
              <%= product.title %> ￥ <%= product.price %>
            </div>
          <% end %>
        </div>
      </div>
</div>

<div class="content-section-b">
    <div class="container">
      <div class="row name text-center">
          <h2>公开课</h2>
          <div class="col-xs-6 col-md-4">
            <a href="https://v.qq.com/x/page/s0156rff0hw.html"><img src='assets/open1.jpg' width="100%" height="200" >
            <div class="text-center">人文六讲：【第一讲】政府形态</div>
          </div>

          <div class="col-xs-6 col-md-4">
            <a href="https://v.qq.com/x/page/e01569k5ydw.html"><img src='assets/open2.jpg' width="100%" height="200" >
            <div class="text-center">人文六讲：【第二讲】基督教</div>
          </div>

          <div class="col-xs-6 col-md-4">
            <a href="https://v.qq.com/x/page/p0156vkihld.html"><img src='assets/open3.jpg' width="100%" height="200" >
            <div class="text-center">人文六讲：【第三讲】民族主义</div>
          </div>

          <div class="col-xs-6 col-md-4">
            <a href="https://v.qq.com/x/page/a0156hi3c8i.html"><img src='assets/open4.jpg' width="100%" height="200" >
            <div class="text-center">人文六讲：【第四讲】自由的概念</div>
          </div>

          <div class="col-xs-6 col-md-4">
            <a href="https://v.qq.com/x/page/a0156tj4ykg.html"><img src='assets/open5.jpg' width="100%" height="200" >
            <div class="text-center">人文六讲：【第五讲】回顾和整合</div>
          </div>

          <div class="col-xs-6 col-md-4">
            <a href="https://v.qq.com/x/page/a0156tj4ykg.html"><img src='assets/open6.jpg' width="100%" height="200" >
            <div class="text-center">人文六讲：【第六讲】仰望星空</div>
          </div>

      </div>
    </div>
</div>
