<div class="col-md-12 checkout-top">
  <div class="container">
<div class="col-md-10 col-md-offset-1">
  <!-- <div class="container"> -->
    <div class="row cart-goods">


      <div class="col-md-8 col-md-offset-2 cusform">
        <h2 class="text-center">订单明细</h2>

        <div class="order-form">
          <%= simple_form_for @order do |f| %>
          <legend>订购人</legend>
          <div class="form-group col-md-12">
            <%= f.input :billing_name, input_html: {value: current_user.name, class: "width-50"} %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :billing_address, input_html: {value: current_user.address} %>
          </div>
          <legend>收货人</legend>
          <div class="form-group col-md-12">
            <%= f.input :shipping_name, input_html: {value: current_user.name, class: "width-50"} %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :shipping_address, input_html: {value: current_user.address} %>
          </div>
          <div class="checkout text-center">
            <%= f.submit "提交订单", class: "btn btn-lg btn-danger", data: {disable_with:"Submitting..."} %>
          </div>
          <% end %>
        </div>
      </div>

      <h2 class="cart-h">配送清单</h2>
      <hr />
        <div class="row cuslist1">
          <div class="col-md-5">
            <div class="checkout-shipping">
              送货方式：&nbsp; 顺丰速递
            </div>
            <div class="ship-explain">
              <i class="fa fa-paper-plane-o"></i> &nbsp; 送货时间不限，包括周末和节假日
            </div>
          </div>

          <div class="col-md-7 cuslist2">
            <% current_cart.cart_items.each do |cart_item| %>
            <div class="row">
              <div class="col-md-3">
                <%= link_to product_path(cart_item.product) do %>
                  <% if cart_item.product.image.present? %>
                    <%= image_tag(cart_item.product.image.small.url) %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-3 cuscart">
                <div class="cart-caption"><%= link_to(cart_item.product.title, product_path(cart_item.product)) %></div>
              </div>
              <div class="col-md-2 col-md-offset-1 cuscart" id="cusbtn">
                <%= cart_item.quantity %>
              </div>
              <div class="col-md-2 cuscart">
                ￥ <%= cart_item.product.price %>
              </div>
            </div>
            <hr />
            <% end %>
          </div>
        </div>
        <hr />
        <div class="total clearfix">
          <span class="pull-right">
            总计 <span class="checkoutsum">￥<%= render_cart_total_price(current_cart) %></span>
          </span>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
</div>
</div>
