<tr>
  <td><%= link_to(board.title, board_path(board)) %></td>
  <td><%= simple_format(board.description) %></td>
  <td><%= board.user.email %></td>

  <% if current_user && current_user.admin? %>
    <td>
      <%= link_to("编辑", edit_board_path(board), class: "btn btn-sm btn-default")%>
      <%= link_to("删除", board_path(board), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>
    </td>
  <% end %>


</tr>
