<h2>Favorites</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">课程</th>
      <th>单价</th>
      <th>操作选项</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.small.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to(product.title, product_path(product)) %></td>
      <td><%= product.price %></td>
      <td><%= link_to(content_tag(:i, "移出", class: "fa fa-trash"), remove_account_favorite_path(product), method: :post) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
