<div class="name", style="margin-top: 80px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
    <div class="col-md-5">
      <h2> <%= @product.title %> </h2>
      <div style="height:100px;">
        <p>
          <%= @product.description %>
        </p>
      </div>
      <div> 库存 : <%= @product.quantity %> </div>
      <div class="product-price"> ￥ <%= @product.price %> </div>

      <%= simple_form_for @product, method: :post, remote: true, url: add_to_cart_product_path(@product) do |f| %>
  			<div class="product-quantity">
  				<%= link_to("-", "", id: "quantity-minus", class: "quantity-minus btn btn-default btn-sm disabled") %>
  				<%= f.input_field "", name: "quantity", value: 1, max: @product.quantity, id: "quantity-input", class: "quantity-input" %>
  				<%= link_to("+", "", id: "quantity-plus", class: "quantity-plus btn btn-default btn-sm #{@product.quantity <= 1 ? 'disabled' : ''}") %>
  			</div>

  			<% if @product.quantity.present? && @product.quantity > 0 %>
  				<button class="btn btn-lg btn-danger" type="submit">
  					加入购物车
  				</button>
  			<% else %>
  				已销售一空，无法购买
  			<% end %>
  		<% end %>

      <div class="pull-left">
        <% if current_user && current_user.has_collected?(@product) %>
          <%= link_to(t("取消收藏"), discollect_product_path(@product), method: :post, :class => "btn btn-default") %>
        <% else %>
          <%= link_to("加入收藏", collect_product_path(@product), method: :post, :class => "btn btn-default") %>
        <% end %>
        <div class="favo-count">收藏人气 ( <%= @product.members.count %> )</div>
      </div>
    </div>
  </div>
</div>
